html {
  font-family: system-ui, sans-serif;
  font-size: 1.25rem;
}

body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

svg {
  display: inline-block;
  vertical-align: middle;
  background-color: lightblue;
}

path {
  fill: lightyellow;
  stroke: lightblue
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
}

.content {
  text-align: center;
  background-color: white;
  padding: 20px;

}

.map-wrapper{
  flex-shrink: 1;
  width: 100%;
  background-color: lightblue;
}

.nav-bar {
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: lightgray;
}

.nav-bar span {
  padding-left: 30px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.content-img{
  width: 320px;
  height: 250px;
  border-radius: 5px;
}